.App {
  /* text-align: center; */
  
  background-color:rgb(213, 208, 208);
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}
.nav-top{
 
  position:fixed;
  width: 100%;
  justify-content: space-between;
}
.app-dash{
  margin-top: 5%;
}
/* dash board charts */



.App-logo {
  height: 40vmin;

background: none;
  padding: 30%;
  
}
/* drop down button of charts */
h3{
 display: inline-flex;
 margin-left: 0%;
 padding-left: 0%;
 padding-right: 400px;
 font-size: 1px;
 
  
}
.drop{
 /* width: 70vw; */
 margin-left: 10%;
 opacity: 0.5;

 
 
}
.drop-header{
  opacity: 0.5;
}
/* dash 2 page customization */
.dash2-color{
  padding-left: 5%;
  margin-bottom: 5%;
}



.App-header {
 
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-left: 20px;
  padding: 20px;
}
/* dash 2 customize */
.dash2-btn{
  height: 10vh;
 width: 30vmin;
 margin-bottom: 5%;
 /* margin-right: 60%; */


}
.dash2-dev{
  margin-left: 25%;
}
h2{
  font-family: cursive;
}

.color-div{
  display: flex;
  gap: 25rem;
}
.color-btn{
  border: 1px solid grey;
  border-radius:10px 10px 10px 10px;
  width: 98%;
  height: 5vh;
  padding-bottom: 20px;
  padding-Top:0px;
 

  margin-bottom: 10px;
 
}
.color-btndiv{
   width: 50%;
  height:4.8vh ;
  border-radius:10px 5px 10px 0px;
}

@media (max-width:900px) {
  .dash2-btn{
    height: 10vh;
   width: 90vmin;
   margin-bottom: 5%;
  
   
   }
   h4{
    display: flex;
 margin-left: 0%;
 padding-left: 0%;
 


   }
   .dash2-color{
    padding: 10%;
    margin-bottom: 5%;
  }
  .dash2-dev{
    margin-left:1%;
  }
}



